# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box             = "Debian9.6_64"

  config.vm.provider :virtualbox do |virtualbox|
    virtualbox.customize ["modifyvm", :id, "--cpus", 2]
    virtualbox.customize ["modifyvm", :id, "--memory", 2048]
  end
end
